body {
    background-color: aquamarine;
}

h1{
    color: navy;
    margin-left: 20px;
}

p{font-family: Thin 100;
}

html{
    font-size: 10px;
    font-family: Thin 100;
}
.nav{display: flex; justify-content: space-around};



