/* h1 {
    color: red;
}

h1 {
    color: green;
}

#titleId {
    color: blue;
}

.titleClass {
    color: pink;
}*/

/* .boxModel {
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: 50px;
    padding: 25px 25px;
    border: 5px solid hotpink;
}

.boxModel2 {
    box-sizing: border-box;
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 50px;
    padding: 25px 25px;
    border: 5px solid hotpink;
} */


body * + * { margin-top: 1.5em;}
.container {
  max-width: 600px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  min-height: 500px;
  background-color: grey;
/* flex-direction ---------------   */
/*   flex-direction: row            */
/*                   row-reverse    */
/*                   column         */
/*                   column-reverse */
  
/* flex-wrap ---------------  */
/*   flex-wrap: nowrap;       */
/*              wrap;         */
/*              wrap-reverse; */

/* flex-flow -------------- */  
/*   flex-flow: row nowrap; */
  
/* justify-content ---------------   */
/*   justify-content: flex-start;    */
/*                    center         */
/*                    flex-end;      */
/*                    space-around;  */
/*                    space-between; */
 
/* align-items -------------- */
/*   align-items: stretch;    */
/*                flex-end;   */
/*                flex-start; */
/*                flex-end;   */
/*                baseline;   */
  
/* align-content ----------------- */ 
/*   align-content: space-between; */
/*                  space-around;  */
/*                  stretch;       */
/*                  flex-start;    */
/*                  center;        */
/*                  flex-end;      */
}

.flex-container > div {
  background-color: lightgrey;
  margin: 10px;
  width: 75px;
  height: 75px;
  padding: 20px;
  font-size: 30px;
}
