* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  margin: 20px;
  color: blueviolet;
  text-decoration: underline;
}

h4 {
  padding-left: 2rem;
}

ul {
  list-style: none;
}

.done {
  color: red;
  text-decoration: line-through;
}

.remove {
  text-decoration: none;
}

.container {
  max-width: 600px;
  padding: 20px 0;
  margin: 0 auto;
}

.taskAdder {
  display: flex;
  margin-bottom: 20px;
}

.taskAdder > input {
  flex-grow: 1;
  padding: 8px 5px;
  margin-right: 10px;
}

.taskAdder > button {
  background-color: blueviolet;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: #fff;
}

ul > li {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

button[type="submit"] {
  cursor: pointer;
}
