body * + * { margin-top: 1.5em;}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  min-height: 500px;
  background-color: grey;
}

.flex-container > div {
  background-color: lightgrey;
  margin: 10px;
  width: 75px;
  height: 75px;
  padding: 20px;
  font-size: 30px;
}