body * + * { margin-top: 1.5em;}

.container {
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 500px;
  background-color: grey;
}

.flex-container > div {
  background-color: lightgrey;
  margin: 10px;
  width: 75px;
  height: 75px;
  padding: 20px;
  
  font-size: 30px;
}

.div1 {
  height: 100px!important
}

.div2 {
  height: 45px!important
}

.div3 {
  height: 300px!important
}